[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-pymongo = "*"
python-dotenv = "*"
flask-mongoengine = "*"
flask-marshmallow = "*"
flask-uuid = "*"
pyjwt = "*"
flask-cors = "*"
flask-bcrypt = "*"
passlib = "*"

[requires]
python_version = "3.7"
